.header{
    color: $text-color;
    position: relative;
    a{
        color: $text-color;
    }
    &__phone{
        a{
            &:hover{
                color: $green;
            }
        }
    }
    &__inner{
        position: fixed;
        z-index: 10;
        width: 100%;
        background-color: #fff;
        padding: 16px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo{
        max-width: 406px;
    }
    &__text{
        margin-left: 2rem;
        font-size: 1rem;
    }
    &__phone{
        font-size: 1.64rem;
        font-weight: 600;
    }
    @media (max-width: 1200px){
        &__text{
            display: none;
        }
    }
    @media (max-width: 992px){
        &__inner{
            padding: 15px 0;
        }
        &__content{
            background-color: $green;
            padding: 11px 20px;
            position: absolute;
            left: 0;
            right: 0;
            bottom: -50px;
        }
        &__wrapper{
            max-width: 720px;
            margin: 0 auto;
        }
        &__phone{
            font-size: 23px;
            a:hover{
                color: #fff;
            }
        }
        &__logo{
            margin: 0 auto;
        }
        &__text{
            color: #fff;
        }
    }
    @media (max-width: 992px){
        &__wrapper{
            max-width: 720px;
        }
    }
    @media (max-width: 576px){
        &__wrapper{
            max-width: 100%;
        }
    }
}